
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="signup" (ngSubmit)="onSignup()">
          <div class="signup__field">
            <i class="signup__icon fas fa-user"></i>
            <input type="text" [(ngModel)]="name" name="name" class="signup__input" placeholder="Name" required>
          </div>
          <div class="signup__field">
            <i class="signup__icon fas fa-user"></i>
            <input type="email" [(ngModel)]="email" name="email" class="signup__input" placeholder="Email" required>
          </div>
          <div class="signup__field">
            <i class="signup__icon fas fa-lock"></i>
            <input type="password" [(ngModel)]="password" name="password" class="signup__input" placeholder="Password" required>
          </div>
          <div class="signup__field">
            <i class="signup__icon fas fa-lock"></i>
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="signup__input" placeholder="Confirm Password" required>
          </div>
          <div class="signup__field">
            <i class="signup__icon fas fa-phone"></i>
            <input type="text" [(ngModel)]="phone" name="phone" class="signup__input" placeholder="Phone" required>
          </div>
          <div class="signup__field">
            <i class="signup__icon fas fa-home"></i>
            <input type="text" [(ngModel)]="address" name="address" class="signup__input" placeholder="Address" required>
          </div>
          <div class="signup__field">
            <i class="signup__icon fas fa-dollar-sign"></i>
            <input type="number" [(ngModel)]="payRate" name="payRate" class="signup__input" placeholder="Pay Rate" required>
          </div>
          <button class="button signup__submit" type="submit">
            <span class="button__text">Sign Up</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
          <div *ngIf="signupFailed" class="error-message">Signup failed, please try again.</div>
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
  